fastapi==0.116.1
uvicorn[standard]==0.35.0
pydantic==2.11.7
pydantic-settings==2.10.1
psycopg[binary]==3.2.9
SQLAlchemy==2.0.43
pytest==8.4.1
httpx==0.28.1

Alembic==1.16.5
argon2-cffi==25.1.0
PyJWT==2.13.0
email-validator==2.3.0
pypdf==5.9.0
PyMuPDF==1.28.0
python-multipart==0.0.20

reportlab==4.4.9
numpy==2.3.5
rasterio==1.5.0
shapely==2.1.2
pyproj==3.7.2
Pillow==12.3.0
